<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Serial_To_QR_Code.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Serial_To_QR_Code.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <userSettings>
    <Serial_To_QR_Code.Properties.Settings>
      <setting name="PortName" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="FixtureLeft" serializeAs="String">
        <value>2.0</value>
      </setting>
      <setting name="CodeTop" serializeAs="String">
        <value>2.0</value>
      </setting>
      <setting name="CodeWidth" serializeAs="String">
        <value>20.0</value>
      </setting>
      <setting name="CodeHeight" serializeAs="String">
        <value>20.0</value>
      </setting>
    </Serial_To_QR_Code.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Serial_To_QR_Code.Properties.Settings>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="Handshake" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
    </Serial_To_QR_Code.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
